.layout {
  height: 100vh;
  display: grid;

  grid-template-areas:
    "sidebar topbar"
    "sidebar main";

  grid-template-columns: 250px 1fr;
  grid-template-rows: 64px 1fr;
}

.sidebar {
  grid-area: sidebar;

  background-color: #0B2A4B;
  color: white;

  height: 100vh;
  overflow-y: auto;

  padding: 16px 0;
  box-sizing: border-box;
}

.topbar {
  grid-area: topbar;

  background-color: #053261;
  color: white;

  display: flex;
  align-items: center;
  padding: 0 16px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.main {
  grid-area: main;

  background: #f5f6fa;
  padding: 24px;
  overflow-y: auto;
  box-sizing: border-box;
}


